/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

.pablo-app {
    position: relative;
}
.pablo-controls {
    width: 50%;
    float: left;
}
.pablo-text {
    width: 96%;
    height: 150px;
}
.pablo-backgrounds {
    height: 180px;
    overflow: scroll;
}
.pablo-backgrounds-list-item {
    float: left;
    width: 126px;
    height: 72px;
    margin: 0 3px 3px 0;
    overflow: hidden;
}
.pablo-backgrounds-list-item-thumb {
    max-width: 100%;
}
.pablo-preview {
    width: 50%;
    float: left;
    position: relative;
    height: 260px;
}
.pablo-footer {
    position: absolute;
    bottom: 0;
}
.pablo-actions button {
    float: right;
}
.pablo-actions .pablo-button-cancel {
    margin-right: 5px;
}

/* Popup */
.pablo-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: 800px;
    margin: 20px auto;
}
.mfp-bg {
    z-index: 999998 !important; /* override admin bar */
}
.mfp-wrap {
    z-index: 999999 !important; /* override admin bar */
}
.smiley-icon:before {
    content: "\f328";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'dashicons';
}